<!--
  - This file is part of the Adblock Plus web scripts,
  - Copyright (C) 2006-2017 eyeo GmbH
  -
  - Adblock Plus is free software: you can redistribute it and/or modify
  - it under the terms of the GNU General Public License version 3 as
  - published by the Free Software Foundation.
  -
  - Adblock Plus is distributed in the hope that it will be useful,
  - but WITHOUT ANY WARRANTY; without even the implied warranty of
  - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  - GNU General Public License for more details.
  -
  - You should have received a copy of the GNU General Public License
  - along with Adblock Plus.  If not, see <http://www.gnu.org/licenses/>.
  -->

<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>Development build listing for {{config.name}}</title></head>
<body>

<p style="border: 1px solid black; background-color: #FEE; color: #000; margin-left: 5px; margin-right: 5px; padding: 5px;">
  <strong>Warning</strong>: The files in this directory are development
  builds and as such they have not been fully tested and might not work
  properly.

  Use them at your own risk, see <a href="https://adblockplus.org/en/development-builds">development builds introduction</a> for more information.

  {%if config.galleryID or config.downloadPage -%}
  Latest <em>stable {{config.name}} release</em> can be downloaded from
  {% if config.type == 'gecko' and config.galleryID -%}
    <a href="https://addons.mozilla.org/addon/{{config.galleryID}}/">Mozilla Add-ons</a>
  {%- elif config.type == 'chrome' and config.galleryID -%}
    <a href="https://chrome.google.com/webstore/detail/{{config.galleryID}}">Chrome Web Store</a>
  {%- else %}
    <a href="https://adblockplus.org{{config.downloadPage}}">its installation page</a>
  {%- endif -%}
  .
  {%- endif %}
</p>

<h2>Development build listing for {{config.name}}</h2>
<hr />
<table border="0" cellspacing="10">
{%- for link in links %}
<tr{%if loop.first%} style="font-weight: bold;"{%endif%}>
  <td>
    <a href="{{link.download}}">{{config.name}} {{link.version}}</a>
    {%- if link.changelog %}
      <a href="{{link.changelog}}"> (changelog)</a>
    {%- endif %}
  </td>
  <td>{{link.mtime|formattime}}</td>
  <td>{{link.size|bytes}}</td>
</tr>
{%- endfor %}
</table>
<hr />
</body>
</html>
