<!--
  - This file is part of the Adblock Plus web scripts,
  - Copyright (C) 2006-2017 eyeo GmbH
  -
  - Adblock Plus is free software: you can redistribute it and/or modify
  - it under the terms of the GNU General Public License version 3 as
  - published by the Free Software Foundation.
  -
  - Adblock Plus is distributed in the hope that it will be useful,
  - but WITHOUT ANY WARRANTY; without even the implied warranty of
  - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  - GNU General Public License for more details.
  -
  - You should have received a copy of the GNU General Public License
  - along with Adblock Plus.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE html>
<html lang="en">
<head>
<title>Issue reports for {{email}}</title>
<link type="text/css" href="/lib/jquery/jquery-ui-1.8.18.custom.css" rel="stylesheet" />
<link type="text/css" href="/lib/slickgrid/slick.grid.css" rel="stylesheet" />
<style type="text/css">
*
{
  font-family: arial, sans-serif;
  font-size: 9pt;
}
#header
{
  font-size: 12pt;
}
#tip
{
  float: right;
  border-radius: 3px;
  padding: 2px;
  border: 1px solid #aaa;
  background-color: #f8f8f8;
  margin: 0 0 10px;
}
#tip .ui-icon
{
  float: left;
  margin-right: 2px;
}
#reports
{
  clear: right;
  width: 100%;
  height: 400px;
  background: white;
  outline: 0;
  border: 1px solid gray;
}
.selected
{
  background-color: #eee;
}
.slick-header-column,
.slick-headerrow-column
{
  text-align: center;
}
.slick-headerrow-column
{
  margin: 0;
  padding: 1px;
  background: #87ceeb;
}
.slick-headerrow-column input,
.slick-headerrow-column select
{
  margin: 0;
  padding: 0;
}
.cell-contact,
.cell-screenshot
{
  color: #00C000;
}
.cell-screenshot,
.cell-contact,
.cell-known,
.cell-subscriptions,
.cell-url
{
  text-align: center;
}
.cell-known
{
  color: #C00000;
}
.cell-time
{
  text-align: right;
}
</style>
<script type="text/javascript" src="/lib/jquery/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/lib/jquery/jquery-ui-1.8.18.custom.min.js"></script>
<script type="text/javascript" src="/lib/jquery/jquery.event.drag-2.0.min.js"></script>
<script type="text/javascript" src="/lib/slickgrid/slick.core.js"></script>
<script type="text/javascript" src="/lib/slickgrid/slick.grid.js"></script>
<script type="text/javascript" src="/lib/slickgrid/plugins/slick.rowselectionmodel.js"></script>
<script type="text/javascript" src="/lib/slickgrid/plugins/slick.autotooltips.js"></script>
<script type="text/javascript" src="/lib/reportsview.js"></script>
<script type="text/javascript">
var reports;
var grid;
var columns =
  [
    { id: "weight", name: "Relevance", field: "weight", sortable: true, width: 20, formatter: ReportFormatters.Number },
    { id: "type", name: "Report type", field: "type", sortable: true, width: 50, filter: ReportFilters.Type },
    { id: "time", name: "Time", field: "time", cssClass: "cell-time", sortable: true, width: 50, formatter: ReportFormatters.Time, filter: ReportFilters.TimePeriod },
    { id: "status", name: "Status", field: "status", sortable: true, filter: ReportFilters.YesNo },
    { id: "contact", name: "Contact", field: "contact", cssClass: "cell-contact", sortable: true, width: 30, formatter: ReportFormatters.Checkmark, filter: ReportFilters.YesNo },
    { id: "screenshot", name: "Screenshot", field: "hasscreenshot", cssClass: "cell-screenshot", sortable: true, width: 30, formatter: ReportFormatters.Screenshot, filter: ReportFilters.Screenshot },
    { id: "known", name: "Known", field: "knownIssues", cssClass: "cell-known", sortable: true, width: 30, formatter: ReportFormatters.Checkmark, filter: ReportFilters.YesNo },
    { id: "subs", name: "Subscriptions", field: "subscriptions", cssClass: "cell-subscriptions", sortable: true, width: 30, formatter: ReportFormatters.Subscriptions, filter: ReportFilters.Subscriptions },
    { id: "site", name: "Site", field: "site", sortable: true, filter: ReportFilters.Text },
    { id: "comment", name: "Comment", field: "comment", sortable: false, filter: ReportFilters.YesNo },
    { id: "url", name: "Link", field: "url", cssClass: "cell-url", sortable: false, width: 30, formatter: ReportFormatters.Link }
  ];

var columnFilters = {};
for (var i = 0; i < columns.length; i++)
{
  if (columns[i].filter)
  {
    columnFilters[columns[i].id] = new columns[i].filter(columns[i]);
  }
}
  
var options =
  {
    forceFitColumns: true,
    enableColumnReorder: false,
    fullWidthRows: true,
    // autoHeight: true,
    editable: false,
    enableCellNavigation: true,
    enableColumnReorder: false,
    multiColumnSort: true,
    showHeaderRow: true
  };

$(function ()
{
  reports = JSON.parse(document.body.getAttribute("data-reports"));
  for (var i = 0; i < reports.length; i++)
  {
    reports[i].weight = calculateReportWeight(reports[i]);
  }

  dataView = new ReportsView();
  grid = new Slick.Grid("#reports", dataView, columns, options);
  grid.setSelectionModel(new Slick.RowSelectionModel());
  grid.registerPlugin(new Slick.AutoTooltips());

  // wire up model events to drive the grid
  dataView.onRowCountChanged.subscribe(function (e, args)
  {
    grid.updateRowCount();
    grid.render();
  });

  dataView.onRowsChanged.subscribe(function (e, args)
  {
    grid.invalidateRows(args.rows);
    grid.render();
  });

  grid.onSort.subscribe(function (e, args)
  {
    dataView.sort(args.sortCols);
    grid.invalidate();
    grid.render();
  });
  
  grid.onColumnsReordered.subscribe(function (e, args)
  {
    updateHeaderRow();
  });

  grid.onColumnsResized.subscribe(function (e, args)
  {
    updateHeaderRow();
  });

  $(grid.getHeaderRow()).delegate(":input", "change keyup", function (e)
  {
    persistSettings();
    dataView.refresh();
  });

  dataView.beginUpdate();
  dataView.setItems(reports);
  dataView.setFilter(filter);
  updateHeaderRow();
  restorePersistentSettings();
  dataView.endUpdate();  
});

function updateHeaderRow()
{
  for (var i = 0; i < columns.length; i++)
  {
    var header = grid.getHeaderRowColumn(columns[i].id);
    var filter = columnFilters[columns[i].id];
    $(header).empty();
    if (filter)
    {
      filter.update(header);
      $(filter.get()).appendTo(header);
    }
    else
    {
      $("<span>&nbsp;</span>").appendTo(header);
    }
  }
}

function filter(item)
{
  for (var columnId in columnFilters)
  {
    if (columnId !== undefined && columnFilters[columnId])
    {
      var c = grid.getColumns()[grid.getColumnIndex(columnId)];
      if (! columnFilters[columnId].filter(item[c.field]))
        return false;
    }
  }
  return true;
}

function persistSettings()
{
  for (var columnId in columnFilters)
  {
    if (columnId !== undefined && columnFilters[columnId])
      columnFilters[columnId].persist();
  }
}

function restorePersistentSettings()
{
  for (var columnId in columnFilters)
  {
    if (columnId !== undefined && columnFilters[columnId])
      columnFilters[columnId].restore();
  }
}

function calculateReportWeight(report)
{
  var weight = 1.0;
  if (report.type == "false positive" || report.type == "false negative")
    weight /= report.subscriptions.length;
  if (report.hasscreenshot == 2)
    weight += 0.7;
  else if (report.hasscreenshot == 1)
    weight += 0.3;
  if (report.knownIssues > 0)
    weight -= 0.3;
  if (/\btest\b/i.test(report.comment))
    weight -= 0.5;
  else if (/\S/.test(report.comment))
    weight += 0.5;
  if (report.contact)
    weight += report.score;

  return weight;
}
</script>
</head>
<body data-reports="{{reports|json(ensure_ascii=False,separators=(',', ':'))}}">
  <div id="tip"><span class="ui-icon ui-icon-lightbulb"></span>Use Shift key to sort by multiple columns.</div>
  <div id="header">Adblock Plus issue reports for {{email}}</div>  
  <div id="reports"></div>
</body>
</html>
